.comment-container {
    display: flex;

    gap: 2rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 0.8rem;

    .votes-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
.comment-content-container {
    width: 50rem;

    header {
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: 67rem;
        margin-bottom: 1rem;
        img {
            width: 3rem;
        }
        .buttons-container {
            margin-left: auto;
            display: flex;
            gap: 2rem;
        }
    }
    .content {
        font-size: 1.2rem;
        max-width: 50rem;
    }
    .edit-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
        textarea {
            resize: none;
            border: 1px solid hsl(223, 19%, 93%);
            width: 94%;
            border-radius: 5px;
            min-height: 6rem;
            overflow: auto;
            padding: 1rem 1.5rem;
            &:focus {
                // transition: all 0.2s;
                outline: 1px solid hsl(211, 10%, 45%);
            }
        }
    }
}
