body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: hsl(228, 33%, 97%);
}
html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// make page responsive and add vote button functionalities
