.replies-outter {
    margin-top: 1.6rem;
    display: flex;
    justify-content: space-between;
    .replies-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        gap: 1.6rem;
    }

    .reply-line {
        width: 1px;
        height: auto;
        background-color: black;
        opacity: 0.1;
    }
}
