.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;

    .comments-container {
        max-width: 67rem;
        display: grid;
        row-gap: 3rem;
    }
}

// 1-Figure out how to modify replying div's position
// 2-add close active reply button
//3-style comments
