.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    flex-direction: column;

    .comments-container {
        max-width: 60rem;
        display: grid;
        row-gap: 2.5rem;
    }
}


